html
  head
    link(rel="stylesheet", href="/css/vendor.css")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
         rel="stylesheet")
    link(rel="stylesheet", href="/css/gost.css")
    script(src="https://cdn.firebase.com/v0/firebase.js")
    script(src="https://cdn.firebase.com/v0/firebase-simple-login.js")
    script(src="/js/vendor.js")
    script(src="/js/gost.js")
  body(ng-app="gost")
    // div(ng-controller="MainTabs")
    .page-header
      Header
    .container
      .row
        .col-md-7
          .row
            Games description
        .col-md-2.col-md-offset-8(ng-include="auth/auth.html")